@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
 /* Font-Family */
  font-family: "Inter", sans-serif;
}

:root {
  --white: #fff;
  --grays-ligher-gray: #f4f4f4;
  --grays-dm-white: #e1e1e1;
  --grays-white-transparency: #ffffff26;
  --grays-light-gray: #dbdbdb;
  --black: #000000;
  --grays-dm-background: #181818;
  --grays-dm-input-bg: #272727;
  --grays-card-color: #353535;
  --grays-text-disable: #767676;
  --grays-fill-disable: #c8c8c8;
  --accent-stonger-blue: #2c64c3;
  --accent-lighter-blue: #467edc;
  --accent-stong-blue: #3270d8;
  --accent-blue-transparent: #467edc33;
  --cool-Green: #24ce85;
  --b-Red: #d83232;
  --bluepurple: #9780df;
  --pureblack: #000000;
  --pink: #f68bff;
  --purple: #6f47eb;
  --darkgrey: #5c5f62;
  --lightgrey: #f9f9f9;
  --lightblue: #eee9fd;
  --mediumgrey: #ededed;
  --lightred: #fbe4e1;
  --grey: #c5c5c5;
  --error: #ffefef;
  --success: rgb(162, 240, 162);
  --whitegrey: #f9f9f9;
  --btnbg: #ededed;
}




/* Track */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 100px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5f62;
  border-radius: 100px;
}

 .custom-toast-container {
  .Toastify__toast {
    font-size: 12px;
  }
  .Toastify {
    height: 20px;
  }
}

.admin-dashboard .data {
  background: #ffffff;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.admin-dashboard .data a{
  text-decoration: none;
}

.admin-dashboard .data h5 {
  color: var(--cool-Green);
  font-weight: 700;
  font-size: 20px;
}

.admin-dashboard .data h6 {
  color: var(--accent-stonger-blue);
  font-size: 12px;
  font-weight: 600;
}

.admin-dashboard .data .side i {
  font-size: 24px;
  color: var(--accent-stonger-blue);
}

.cash_in_hand .account_details {
  background-color: var(--darkgrey);
}
.cash_in_hand .account_details h4 {
  color: var(--white);
}
.cash_in_hand .account-text h6 {
  font-size: 16px;
  font-weight: 800;
  color: var(--cool-Green);
  cursor: pointer;
}
.cash_in_hand .account-text h5 {
  font-size: 14px;
  color: var(--darkgrey);
  font-weight: 700;
  letter-spacing: 1px;
}

.cash_in_hand .account-text .cash_in_btn {
  background-color: var(--cool-Green);
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}
.cash_in_hand .account-text .cash_out_btn {
  background-color: var(--b-Red);
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

.register_form {
  border-radius: 10px;
  position: relative;
}
.register_form h4 {
  font-size: 26px;
  color: var(--accent-stonger-blue);
  font-weight: 600;
  letter-spacing: 1px;
}

.register_form p {
  color: var(--grays-card-color);
  font-size: 14px;
  line-height: 30px;
  align-content: justify;
  font-weight: 500;
}
.register_form p a {
  color: var(--accent-stong-blue);
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}
.register_form label {
  color: var(--grays-dm-background);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;

}

.register_form input,
.register_form select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.register_form input:focus,
.register_form select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

.register_form .submit_btn {
  width: 100%;
  background-color: var(--accent-stong-blue);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 45px;
}

.register_form .password_btn {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.register_form .forgot a {
  font-size: 12px;
}



.sidenav::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  border-radius: 100px;
}



.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  overflow-x: hidden;
  background-color: var(--white);
  overflow-x: scroll;
  top: 0;
  z-index: 999;
  border-right: 1px solid var(--mediumgrey);
  transition: width 0.3s ease-in-out;
}
.mycollapsed {
  width: 0;
  visibility: hidden;
  display: none;
  transition: width 0.3s ease-in-out;
}

.sidenav ul {
  list-style-type: none;
}


.sidenav h4 {
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--accent-stonger-blue);
  font-weight: 600;
}
.sidenav .dropdown .btn {
  color: var(--grays-text-disable);
  font-weight: 600;
  padding-left: 8%;
  letter-spacing: 0.5px;
  width: 97%;
  margin-left: 0px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  font-size: 12px;
}
.sidenav .btn i {
  margin-left: auto;
}

.sidenav li {
  width: 97%;
  margin-left: 0px;
  padding: 8px 0px 8px 0px;
  margin-top: 2px;
  color: var(--grays-text-disable);
  font-weight: 600;
  font-size: 10px;
  padding-left: 8%;
  letter-spacing: 0.5px;
}

.sidenav li i {
  font-size: 13px;
}
.sidenav li:hover {
  cursor: pointer;
  background-color: var(--accent-blue-transparent);
  border-radius: 4px;
  padding-left: 8%;
  margin-top: 2px;
  color: var(--accent-stonger-blue);
  transition: background-color 0.3s, transform 0.3s; 
  transform: scale(1.05);
}

.sidenav ul p {
  color: #204b66;
  padding-left: 10%;
  font-size: 12px;
  font-weight: 700;
}


.my_Navbar{
  position: relative;
}
.my_Navbar .right i{
  font-size: 20px;
  color: var(--accent-stonger-blue);

}
#mycheck{
  -webkit-appearance:none ;
  visibility: none;
  display: none;
}
.my_Navbar .my_span{
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 20px;
  border-radius: 3px;
  color: var(--accent-stonger-blue);
  padding: 3px 8px;
  cursor: pointer;
  background:white;
  
}

#mycheck:checked ~ .sidenav h4{
  display: none;
  visibility: none;
}

#mycheck:checked ~ .my_Navbar #bars{
  display: none;
}
.main {
  margin-left: 220px;
  height: 100%;
  transition: margin 0.3s ease-in-out;
}
.collapsed{
  margin-left: 0px;
  transition: margin 0.3s ease-in-out;
}

.main .nav {
  background: var(--white);
  border-bottom: 1.5px solid var(--mediumgrey);
  justify-content: right;
  position: relative;
}

.main .nav .welcome {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  color: var(-black);
  box-shadow: 0px 0px 0px 0px solid var(--white);
  position: absolute;
  left: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main .nav form {
  position: relative;
}

.main .nav form i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--darkgrey);
}

.main .nav input {
  width: 170%;
  border: 0px;
  background-color: var(--mediumgrey);
  border-radius: 4px;
  height: 38px;
  padding-left: 40px;
  padding-right: 10px;
  color: var(--accent-stong-blue);
  font-size: 12px;
}

.main .nav input:focus {
  outline: none;
}

.main .nav input::placeholder {
  font-size: 14px;
  color: var(--darkgrey);
}

.main .nav .add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  border: 0px;
  font-size: 14px;
  font-weight: 800;
  background-color: var(--mediumgrey);
  color: var(--darkgrey);
  box-shadow: 0px 0px 0px 0px solid var(--white);
}

.main .nav .bell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkgrey);
}

 h4 {
  color: var(--accent-lighter-blue);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}

 h6 {
  color: var(--accent-lighter-blue);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}
.upload_btn {
  border: 1px solid var(--cool-Green);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  color: var(--white);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--cool-Green);
}
 .entry_btn {
  border: 1px solid var(--accent-lighter-blue);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  color: var(--accent-lighter-blue);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
}

 form {
  background-color: rgb(253, 253, 253);
}

 .new_entry form label {
  font-size: 10px;
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
 .new_entry form input,
 .new_entry form select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

 .new_entry form input:focus,
 .new_entry form select:focus {
  border: 1px solid var(--accent-lighter-blue) !important;
  outline: none;
}

 .new_entry form .submit_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--cool-Green);
  color: "var(--black)";
  border: 1px solid var(--cool-Green);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}
 .new_entry form .del_btn {
  background-color: var(--b-Red);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

 .new_entry .dropdown .btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--accent-stong-blue);
  color: "var(--black)";
  border: 1px solid var(--accent-stong-blue);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

 .new_entry .dropdown li {
  color: var(--black);
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}
 .new_entry .dropdown li:hover {
  background-color: var(--accent-stong-blue);
  color: var(--white);
}

 .new_entry .image {
  height: 150px;
  width: 100%;
}
 .new_entry .image img {
  height: 100%;
  width: 100%;
}

.entry_details ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
} 
.entry_details .show_btn {
  font-size: 12px;
  color: var(--white);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background: var(--accent-stonger-blue);
  font-weight: 600;
}
.entry_details .pdf_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--b-Red);
  color: "var(--black)";
  border: 1px solid var(--b-Red);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}
.entry_details .excel_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--cool-Green);
  color: "var(--black)";
  border: 1px solid var(--cool-Green);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.entry_details .dropdown .btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--accent-stong-blue);
  color: "var(--black)";
  border: 1px solid var(--accent-stong-blue);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.entry_details .dropdown li {
  color: var(--black);
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}
.entry_details .dropdown li:hover {
  background-color: var(--accent-stong-blue);
  color: var(--white);
}
.entry_details .filters {
  overflow: scroll;
}
.entry_details .filters ul {
  width: 100%;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
}

.entry_details .filters ul li {
  display: inline;
}

.entry_details .filters select, .entry_details .filters input  {
  width: 100%;
  height: 30px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 2px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;
}
.entry_details .filters select:focus,.entry_details .filters input:focus {
  outline: none;
  border: 1px solid var(--accent-lighter-blue) !important;
}

.entry_details input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_details input:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}
.entry_details .detail_table input,
.entry_details .detail_table select {
  width: auto;
  height: 45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_details .detail_table input:focus,
.entry_details .detail_table select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

.entry_details .detail_table .personel_label {
  background-color: var(--cool-Green);
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.entry_details .detail_table .visit_label {
  background-color: var(--accent-lighter-blue);
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.entry_details .detail_table .ticket_label {
  background-color: var(--bluepurple);
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.entry_details .detail_table .azad_label {
  background-color: var(--purple);
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.entry_details .detail_table .protector_label {
  background-color: var(--accent-lighter-blue);
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.entry_details .detail_table .edw_label {
  background-color: green;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.entry_details .detail_table .label {
  background-color: var(--grays-dm-input-bg);
  color: white;
  font-size: 11px;
  font-weight: 500;
  text-transform: capitalize;
  width: auto;
}

.entry_details .detail_table .action {
  background-color: var(--cool-Green);
  color: white;
  font-size: 11px;
  font-weight: 500;
}
.entry_details .detail_table img {
  height: 50px;
  width: 50px;
}
.entry_details .detail_table .bg_white {
  background-color: var(--btnbg);
  cursor: pointer;
}
.entry_details .detail_table .bg_white:hover {
  background-color: var(--accent-lighter-blue);
}
.entry_details .detail_table .bg_dark {
  background-color: var(--white);
  cursor: pointer;
}
.entry_details .detail_table .bg_dark:hover {
  background-color: var(--accent-lighter-blue);
}

.entry_details .detail_table .data_td {
  font-size: 10px;
  font-weight: 600;
  width: auto;
  text-transform: capitalize;

}
.entry_details .detail_table p {
  font-size: 12px;
}
.entry_details label {
  font-size: 10px;
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.entry_details select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_details .detail_table .btn {
  font-size: 12px;
  color: var(--white);
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_details .detail_table .edit_btn {
  background-color: var(--accent-stong-blue);
  font-weight: 600;
}
.entry_details .detail_table .delete_btn {
  background-color: var(--b-Red);
  font-weight: 600;
}
.entry_details .detail_table .save_btn {
  background-color: var(--cool-Green);
  font-weight: 600;
}

.entry_details .detail_table .delete_Modal h5 {
  color: var(--cool-Green);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
.entry_details .detail_table .delete_Modal p {
  font-size: 14px;
  color: var(--black);
  font-weight: 600;
}
.entry_details .detail_table .delete_Modal .modal-header .btn-close {
  font-size: 12px;
  color: var(--accent-stonger-blue);
}
.entry_details .detail_table .delete_Modal .cancel_btn {
  background-color: var(--b-Red);
  font-weight: 600;
}
.entry_details .detail_table .delete_Modal .confirm_btn {
  background-color: var(--accent-stonger-blue);
  font-weight: 600;
}

.entry_details .edit_entry_details_form input,
.entry_details .edit_entry_details_form select {
  width: 220px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  margin: 0px;
}
.entry_details .edit_entry_details_form input:focus,
.entry_details .edit_entry_details_form select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}
.entry_details .edit_entry_details_form .update_btn {
  font-size: 14px;
  background-color: var(--cool-Green);
  color: var(--white);
  font-weight: 600;
}
.entry_details .edit_entry_details_form img {
  height: 100%;
  width: 100%;
}



 .payment_form form label {
  font-size: 11px;
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
 .payment_form .show_btn {
  font-size: 12px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  font-weight: 600;
  border: 1px solid var(--accent-stonger-blue);
  color: var(--accent-stonger-blue);
}
 .payment_form form .image {
  width: 100%;
  height: 200px;
}
 .payment_form form .image img {
  height: 100%;
  width: 100%;
}

 .payment_form form input[type="checkbox"] {
  height: 15px;
}
 .payment_form input,
 .payment_form select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

 .payment_form textarea {
  width: 100%;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

 .payment_form form input:focus,
 .payment_form select:focus,
 .payment_form textarea:focus {
  border: 1px solid var(--accent-lighter-blue) !important;
  outline: none;
}

 .payment_form form .submit_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--cool-Green);
  color: "var(--black)";
  border: 1px solid var(--cool-Green);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.payment_form form .add_section_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--b-Red);
  color: "var(--black)";
  border: none;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
}

.multiple_form form .table thead th {
  font-size: 11px;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 5px;
}
.multiple_form form .table tbody {
  border-top: none !important;
}

.multiple_form form .table input {
  width: auto !important;
  color: var(--accent-stong-blue);
  padding-left: 15px;
  margin: 0px;
  border-radius: 0;
  background-color: transparent;
  border: 0.5px solid var(--grays-dm-white);
}

 .payment_details ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
} 

 .payment_details .thead {
  background-color: var(--accent-stonger-blue);
}
 .payment_details .label {
  color: white;
  text-transform: capitalize;

}
 .payment_details .edit_btn {
  background-color: var(--accent-stonger-blue);
  color: white;
  font-size: 8px;
}
 .payment_details .del_btn {
  background-color: var(--b-Red);
  color: white;
  font-size: 8px;
}
 .payment_details .detail_btn {
  font-size: 12px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  color: white;
  background-color: var(--cool-Green);
  font-weight: 600;
}


.entry_setting ul {
  width: 100%;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
}
.entry_setting ul li {
  display: inline;
  cursor: pointer;
  color: var(--black);
}
.entry_setting ul li .btn {
  font-size: 12px;
  font-weight: 600;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_setting .adding_form form {
  background-color: var(--whitegrey);
}

.entry_setting h5 {
  font-size: 18px;
  color: var(--accent-lighter-blue);
  font-weight: 600;
}
.adding_form label {
  color: var(--grays-dm-background);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.entry_setting .adding_form input,
.setting .adding_form select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.entry_setting .adding_form textarea {
  width: 100%;
  height: 70px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}
.entry_setting .adding_form textarea:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

.entry_setting .adding_form input:focus,
.setting .adding_form select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

.entry_setting .adding_form .image {
  height: 150px;
  width: 100%;
}
.entry_setting .adding_form .image img {
  height: 100%;
  width: 100%;
}
.entry_setting .adding_form .submit_btn {
  background-color: var(--cool-Green);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  color: var(--white);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 35px;
  border: none;
  border-radius: 4px;
}

.entry_setting .details_table .label {
  background-color: var(--accent-lighter-blue);
  margin: 3px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.entry_setting .details_table .data_td {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: auto;
  text-transform: capitalize;

}
.entry_setting .details_table .data_td input,
.entry_setting .details_table .data_td select {
  width: auto;
  height: 45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}
.entry_setting .details_table .data_td input:focus,
.entry_setting .details_table .data_td select:focus {
  border: 1px solid var(--accent-stong-blue);
  outline: none;
}

.entry_setting .details_table img {
  height: 50px;
  width: 70px;
}
.entry_setting .details_table .edit_btn {
  font-size: 12px;
  background-color: var(--accent-lighter-blue);
  color: var(--white);
}

.entry_setting .details_table .delete_btn {
  font-size: 12px;
  background-color: var(--b-Red);
  color: var(--white);
}


.payment_details .show_btn {
  font-size: 12px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  font-weight: 600;
  border: 1px solid var(--accent-stonger-blue);
  color: var(--accent-stonger-blue);
}
.payment_details .pdf_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--b-Red);
  color: "var(--black)";
  border: 1px solid var(--b-Red);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}
.payment_details .excel_btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--cool-Green);
  color: "var(--black)";
  border: 1px solid var(--cool-Green);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.payment_details .dropdown .btn {
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background-color: var(--accent-stong-blue);
  color: "var(--black)";
  border: 1px solid var(--accent-stong-blue);
  color: var(--white);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.payment_details .dropdown li {
  color: var(--black);
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}
.payment_details .dropdown li:hover {
  background-color: var(--accent-stong-blue);
  color: var(--white);
}
.payment_details .filters {
  overflow: scroll;
}
.payment_details .filters ul {
  width: 100%;
  list-style: none;
  overflow: auto; 
  white-space: nowrap;
}

.payment_details .filters ul li {
  display: inline;
}

.payment_details .filters select,.payment_details .filters input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 2px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;

}
.payment_details .filters select:focus,.payment_details .filters input:focus {
  outline: none;
  border: 1px solid var(--accent-lighter-blue) !important;
}

.payment_details input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.payment_details input:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}
.payment_details .detail_table input,
.payment_details .detail_table select,
.payment_details .detail_table textarea {
  min-width: 170px;
  height: 45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.payment_details .detail_table input:focus,
.payment_details .detail_table select:focus,
.payment_details .detail_table textarea:focus{
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

.payment_details .detail_table .personel_label {
  background-color: var(--cool-Green);
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.payment_details .detail_table .visit_label {
  background-color: var(--accent-lighter-blue);
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.payment_details .detail_table .ticket_label {
  background-color: var(--bluepurple);
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.payment_details .detail_table .azad_label {
  background-color: var(--purple);
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.payment_details .detail_table .protector_label {
  background-color: var(--accent-lighter-blue);
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.payment_details .detail_table .edw_label {
  background-color: green;
  margin: 3px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.payment_details .detail_table .label {
  background-color: var(--grays-dm-input-bg);
  color: white;
  font-size: 9px;
  font-weight: 600;
  display: inline-flexbox;
  width: 18.28%;
}

.payment_details .detail_table .action {
  background-color: var(--cool-Green);
  margin: 3px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.payment_details .detail_table img {
  height: 50px;
  width: 50px;
}
.payment_details .detail_table .bg_white {
  background-color: var(--btnbg);
  cursor: pointer;
}
.payment_details .detail_table .bg_white:hover {
  background-color: var(--accent-lighter-blue);
  color: var(--white);
}

.payment_details .detail_table .bg_dark {
  background-color: var(--white);
  cursor: pointer;
}
.payment_details .detail_table .bg_dark:hover {
  background-color: var(--accent-lighter-blue);
}

.payment_details .detail_table .data_td {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 18.28%;
  text-transform: capitalize;
}
.payment_details .detail_table .profit {
  background-color: var(--cool-Green);
}
.payment_details .detail_table .loss {
  background-color: var(--b-Red);
}
.payment_details label {
  font-size: 11px;
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.payment_details select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.payment_details .detail_table .btn {
  font-size: 12px;
  color: var(--white);
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.payment_details .detail_table .edit_btn {
  background-color: var(--accent-stong-blue);
  font-weight: 600;
}
.payment_details .detail_table .delete_btn {
  background-color: var(--b-Red);
  font-weight: 600;
  cursor: auto;
}
.payment_details .detail_table .save_btn {
  background-color: var(--cool-Green);
  font-weight: 600;
}
.supplier_Name h4 {
  color: var(--accent-stonger-blue);
  font-size: 14px;
}
.supplier_Name h4 span {
  color: var(--black);
  font-size: 12px;
}

.payment_details .detail_table .delete_Modal h5 {
  color: var(--cool-Green);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
.payment_details .detail_table .delete_Modal p {
  font-size: 14px;
  color: var(--black);
  font-weight: 600;
}
.payment_details .detail_table .delete_Modal .modal-header .btn-close {
  font-size: 12px;
  color: var(--accent-stonger-blue);
}
.payment_details .detail_table .delete_Modal .cancel_btn {
  background-color: var(--b-Red);
  font-weight: 600;
}
.payment_details .detail_table .delete_Modal .confirm_btn {
  background-color: var(--accent-stonger-blue);
  font-weight: 600;
}


.payment_details .edit_entry_details_form input,
.entry_details .edit_entry_details_form select {
  width: 220px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  margin: 0px;
}
.payment_details .edit_entry_details_form input:focus,
.entry_details .edit_entry_details_form select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}
.payment_details .edit_entry_details_form .update_btn {
  font-size: 14px;
  background-color: var(--cool-Green);
  color: var(--white);
  font-weight: 600;
}
.payment_details .edit_entry_details_form img {
  height: 100%;
  width: 100%;
}


.candidate_Details h4{
font-size: 20px;
color: var(--accent-lighter-blue);
}
.candidate_Details p{
  font-size: 14px;
}
.candidate_Details p b{
  font-size: 14px;
}

/* reminders */
.reminders select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;
}

.reminders select:focus {
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}

 .reminders .toast-header img{
  height:20px;
  width:20px;
}
.reminders .toast-header h6{
  letter-spacing: 1px;
  font-size: 12px;
  display: inline;
  color: black;
}
 .reminders .toast-header small{
  font-size:12px;
  color: var(--accent-lighter-blue);
  font-weight: 500;
  letter-spacing: 1px;

}
 .reminders .toast-header button{
font-size: 10px;
box-shadow: 0px 0px 10px 1px solid var(--white)

}
 .reminders .toast-body p{
font-size: 12px;
color: black;
letter-spacing: 1px;
font-weight: 500;
}
.reminders img{
width: 60%;
height: 60%;
}

.reminders p{
  font-size: 14px;
  color: var(--black);
  letter-spacing: 1px;
}

/* Notes */
.notes .add_btn{
  font-size: 12px;
  color: var(--white);
  box-shadow: 10px 10px 10px 10px solid var(--black);
  background: var(--accent-stonger-blue);
  font-weight: 600;
}
.notes .filters label{
  font-size: 14px;
}
.notes .filters select,.notes .filters input{
  width: 100%;
  height: 30px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 2px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;
}
.notes .filters select:focus,.notes .filters input:focus{
  outline: none;
  border: 1px solid var(--accent-lighter-blue);
}
.notes form label{
  color:var(--black);
  font-size:14px;
  font-weight:600;
}
.notes form input{
  width:100%;
  height:45px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;
}
.notes form textarea{
  width:100%;
  min-height:50vh;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--black);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;

}
.notes form textarea:focus,.notes form input:focus{
  outline: none;
  border: 1px solid var(--accent-lighter-blue);
}
.notes form button{
background:var(--cool-Green);
color:white;
}
.notes form button:hover{
  background:var(--cool-Green);
  color:white;
  }

  .notes .note h6{
    font-size: 12px;
    color:var(--cool-Green);
    text-transform: capitalize;
  }
  .notes .note small{
    font-size:10px;
    color:var(--black);
    font-weight:600;
    letter-spacing:1px;
  }
  .notes .note .btn{
    font-size: 10px;
    color: var(--white);
    box-shadow: 10px 10px 10px 10px solid var(--black);
    background: var(--accent-stong-blue);
    font-weight: 600;
  }
  .notes img{
    width: 60%;
    height: 60%;
    }


    /*total_cash  */
    .total_cash h6{
      font-size: 14px;
    } 


    /* Direct Payment In/Out*/
    .direct_payment .label {
      background-color: var(--grays-dm-input-bg);
      color: white;
      font-size: 20px;
      font-weight: 600;
      display: inline-flexbox;
      width: 18.28%;
    }
.direct_payment .detail_table input,
.direct_payment .detail_table select,
.direct_payment .detail_table textarea {
  min-width: 2px;
  height: 40px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 4px;
  font-size: 9px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
}

.direct_payment .detail_table input:focus,
.direct_payment .detail_table select:focus,
.direct_payment .detail_table textarea:focus{
  outline: none;
  border: 2px solid var(--accent-lighter-blue) !important;
}
.direct_payment .detail_table .label {
  background-color: var(--grays-dm-input-bg);
  color: white;
  font-size: 9px;
  font-weight: 600;
  display: inline-flexbox;
  width: 18.28%;
}
.direct_payment .detail_table .data_td {
  font-size: 9px;
  font-weight: 600;
  width: auto;
  text-transform: capitalize;
}
.direct_payment .filters {
  overflow: scroll;
}
.direct_payment .filters label{
  font-size: 12px;
  font-weight: 500;

}
.direct_payment .filters select,.direct_payment .filters input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--grays-dm-white);
  border-radius: 2px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 4px;
  color: var(--accent-stong-blue);
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px 10px solid var(--black);
  text-transform: capitalize;

}
.direct_payment .filters select:focus,.direct_payment .filters input:focus {
  outline: none;
  border: 1px solid var(--accent-lighter-blue) !important;
}

/* today_Payments_Table */
.detail_table .today_Payments_Table .label {
  background-color: var(--grays-dm-input-bg);
  color: white;
  font-size: 8px;
  font-weight: 600;
  display: inline-flexbox;
  width: 18.28%;
}
.detail_table .today_Payments_Table .data_td {
  background-color: none;
  color: black;
  font-size: 8px;
  font-weight: 500;
  display: inline-flexbox;
  width: 18.28%;
}